<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block title %}<title>titre par defaut</title>{% endblock %}
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about" >about</a></li>
            <li><a href="/hello">hello</a></li>
            <li><a href="/assos">assos</a></li>
            <li><a href="/Dashboard">Dashboard</a></li>
            
        </ul>
    </nav>
    {% block content %}{% endblock %}   
</body>
</html>